@import '../../scss/_partials';

.nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $white;

  .nodata-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    animation: .3s ease-in-out 0s 1 bounceIn;

    .nodata-icon {
      color: $warning-color;
      i { font-size: 30px; }
    }

    .nodata-text {
      color: $warning-color;
      padding: 0 0 0 0;
      font-size: 18px;
      font-weight: bold;
    }

    .nodata-subtext {
      color: $font-color;
    }
  }
}
