$colors: (
  base: (
    primary: #1b7a9d,
    secondary: #454e67,
    border: #DCDEE2,
    background: #f1f1f1
  ),
  text: (
    font: #666666,
    link: #40b4de
  ),
  message: (
    success: #729e00,
    warning: #f1b71c,
    alert: #b63813,
    notice: #087caa
  ),
  assets: (
    oil: (color: #729e00, icon: 'fa-database'),
    gas: (color: #ff7a28, icon: 'fa-fire'),
    recycle: (color: #b11f24, icon: 'fa-recycle'),
    freshwater: (color: #2aace2, icon: 'fa-tint'),
    injection: (color: #087caa, icon: 'fa-arrow-circle-down'),
    disposal: (color: #70184d, icon: 'fa-trash'),
    lease-outbound: (color: #2aace2, icon: 'fa-arrow-circle-up'),
    lease-inbound: (color: #6c7387, icon: 'fa-arrow-circle-down')
  ),
  charts: (#197c9d, #f5943f)
);

// Base colors
$base-colors      : map-get($colors, base);
$primary-color    : map-get($base-colors, primary);
$secondary-color  : map-get($base-colors, secondary);
$border-color     : map-get($base-colors, border);
$background-color : map-get($base-colors, background);

// Text colors
$text-colors : map-get($colors, text);
$font-color  : map-get($text-colors, font);
$link-color  : map-get($text-colors, link);

// Standard white/black
$white: #ffffff;
$black: #000000;

// Message bar colors
$message-colors : map-get($colors, message);
$success-color  : map-get($message-colors, success);
$warning-color  : map-get($message-colors, warning);
$alert-color    : map-get($message-colors, alert);
$notice-color   : map-get($message-colors, notice);

// Asset colors
$asset-colors               : map-get($colors, assets);
$lease-outbound-color : map-get(map-get($asset-colors, lease-outbound), color);
$lease-inbound-color  : map-get(map-get($asset-colors, lease-inbound), color);
$oil-color            : map-get(map-get($asset-colors, oil), color);
$gas-color            : map-get(map-get($asset-colors, gas), color);
$injection-color      : map-get(map-get($asset-colors, injection), color);
$disposal-color       : map-get(map-get($asset-colors, disposal), color);
$recycle-color        : map-get(map-get($asset-colors, recycle), color);
$freshwater-color     : map-get(map-get($asset-colors, freshwater), color);

$chart-colors: map-get($colors, charts);

// Darkening colors
$darker-percent: 10%;
$darkest-percent: 20%;
@function darker($original) { @return darken($original, $darker-percent); }
@function darkest($original) { @return darken($original, $darkest-percent); }

// lightening colors
$ligher-percent: 10%;
@function lighter($original) { @return lighten($original, $lighter-percent); }
