// Primary color
$primary: #1b7a9d;

// Secondary color
$secondary: #454e67;

// Standard white/black
$white: #ffffff;
$black: #000000;

// Standard default font color
$font-color: #555555;
$link-text-color: $primary;

// Border color
$border-color: #DCDEE2;

// Background color
$background-color: #f1f1f1;

// Message bar colors
$success-color  : #719d46;
$warning-color  : #efaa1b;
$alert-color    : #b63813;
$notice-color   : $primary;
