body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong, b {
  font-weight: $font-weight-bold;
}

// Used for javascript to easily add
// and remove class for simple hiding
.hide {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.separator {
  height: 1px;
  width: 100%;
  margin: $standard-spacing 0 $standard-spacing/2 0;
  background-color: $black;
  opacity: .1;

  &.smaller {
    margin: $standard-spacing/2 0 $standard-spacing/2 0;
  }
}

// This mixin will allow you to vertical-align
// an element relative to its parent
@mixin vertical-align($position) {
  position: $position; // Either relative or absolute
  top: 50%;
  transform: translateY(-50%);
}
