body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong, b {
  font-weight: $font-weight-bold;
}

// Used for javascript to easily add
// and remove class for simple hiding
.hide {
  display: none;
}

.stacking-context-front {
  z-index: 1000;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.separator {
  height: 1px;
  width: 100%;
  margin: $spacing 0 $spacing-half 0;
  background-color: $border-color;

  &.vertical {
    vertical-align: middle;
    height: 20px;
    width: 1px;
    display: inline-block;
    margin: 0 $spacing-half;
  }

  &.smaller {
    margin: $spacing-half 0 $spacing-half 0;
  }
}
