// Section defines a piece of content in the main container
article {
  background-color: $background-color;

  > header {
    width: auto;
    padding: $spacing;
    margin: 0px;
    border: solid 1px $border-color;
    background-color: $white;
  }

  .bar {
    padding: $spacing;
    color: $font-color;
    background-color: $white;

    &.secondary {
      color: $white;
      background-color: $secondary-color;
    }
  }

  > section {
    padding: 0 0 $spacing 0;
    margin: 0 0 $spacing 0;

    // In case your section shouldn't have additional spacing
    &.no-spacing {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    &:last-child {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    // Any last elements in a section should be tight with border bottom
    > *:last-child:not(.message) {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    > header {
      padding: 0 0 $spacing-quarter 0;
      margin: 0 0 $spacing-half 0;
      border-bottom: solid 1px $border-color;
    }
  }
}

.widget {
  .widget-header {
    display: flex;
    flex: 0 0 33px;
    justify-content: space-between;
    padding: $spacing-quarter $spacing-half;
    border-bottom: solid 1px $border-color;

    .widget-title {
      flex: 1 1;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .title-text {
        display: block;
        line-height: 1.2;
      }
      .dates-text {
        display: block;
        font-size: $font-size - 2;
        line-height: 1.2;
        color: darkest($border-color);
      }
    }

    .widget-options {
      flex: 0 1;
      text-align: right;

      .widget-options-trigger {
        float: right;
        width: 15px;

        .dh2o-dropdown-trigger {
          cursor: pointer;
        }
      }

      .dh2o-dropdown-content {
        text-align: left;
        width: 160px;
        top: 20px;
        left: -140px;

        .settings {
          border-bottom: solid 1px $border-color;
          line-height: 20px;
          padding: $spacing-quarter 0 $spacing-quarter 0;

          &:last-child {
            border-bottom: none;
          }

          .settings-title {
            font-weight: bold;
          }

          li {
            padding: 3px $spacing-half 3px $spacing-half;
          }
          li:not(.settings-title) {
            cursor: pointer;

            &:hover {
              background-color: $primary-color;
              color: $white;
            }
          }
        }
      }
    }
  } // widget-header
  .widget-body {
    padding: $spacing-half;
  }

  margin: $spacing;
  border: solid 1px $border-color;
  background-color: $white;
}
