article {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  background-color: $background-color;

  > header {
    flex: 0 1 auto;
    width: auto;
    padding: $spacing;
    margin: 0px;
    border: solid 1px $border-color;
    background-color: $white;
  }

  .bar {
    padding: $spacing;
    color: $font-color;
    background-color: $white;

    &.secondary {
      color: $white;
      background-color: $secondary-color;
    }
  }

  .stage {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: $spacing;
    overflow-x: hidden;
    overflow-y: auto;

    &.flush { margin: 0 0 0 0; }
    > * {
      flex: 0 1 auto;
      margin: 0 0 $spacing 0;
      &:last-child { margin: 0 0 0 0; }
    }

    &.row {
      flex-direction: row;
      box-sizing: border-box;
      > * {
        flex: 1 1 auto;
        margin: 0 $spacing 0 0;
        &:last-child { margin: 0 0 0 0; }
      }
    }

  }
}
