article {
  background-color: $background-color;

  > header {
    width: auto;
    padding: $spacing;
    margin: 0px;
    border: solid 1px $border-color;
    background-color: $white;
  }

  .bar {
    padding: $spacing;
    color: $font-color;
    background-color: $white;

    &.secondary {
      color: $white;
      background-color: $secondary-color;
    }
  }
}
