.sidebar {
  .nav {
    .link {
      text-align: center;
      a {
        display: block;
        padding: $standard-spacing/2;
        color: $white;
        opacity: .6;
        text-decoration: none;

        &:hover, &.active {
          background-color: $primary;
          opacity: 1;
        }
      }
    }

    .separator {
      margin: 0;
      padding: 0;
      background-color: $white;
      opacity: .6;
    }
  }

}
