// Section defines a piece of content in the main container
.section {
  background-color: $background-color;

  .title {
    width: auto;
    padding: $standard-spacing;
    margin: 0px;
    border: solid 1px $border-color;
    background-color: $white;
  }

  .bar {
    padding: $standard-spacing;
    color: $font-color;
    background-color: $white;

    &.secondary {
      color: $white;
      background-color: $secondary;
    }
  }

  .content {
    padding: $standard-spacing;
    margin: $standard-spacing;
    border: solid 1px $border-color;
    background-color: $white;
  }

  // If p tag last child in a section
  // exists lets remove the spacing margin
  p:last-child {
    margin: 0;
  }
}
