aside {
  nav {
    .link {
      text-align: center;
      display: block;
      padding: $spacing-half;
      color: $white;
      text-decoration: none;

      &:hover, &.active {
        background-color: $primary-color;
      }
    }

    .separator {
      margin: 0;
      padding: 0;
      background-color: darken($border-color, 30);
    }
  }

}
