<template>
  <div id="content-sections" class="section">
    <div class="title"><h1>Sections</h1></div>
    <div class="content">
      <p>
        Sections are our partial blocks of information.
        Usually you will only have one section per page.
        But as you can see in this doc you can create as many as you want
        and it will automatically adjust based upon the container its in.
      </p>
      <pre>
        <code class="language-markup">
          <script type="prism-html-markup">
            <div class="section">
              <div class="title">Section title</div>
              <div class="content">Main content area</div>
            </div>
          </script>
        </code>
      </pre>

      <p>You can even add a section in a section</p>
      <div class="section">
        <div class="title">Title</div>
        <div class="content">Content</div>
        <div class="seperator"></div>
      </div>
    </div>
  </div>
</template>
