@mixin button-size($font-size, $border-width: 0) {
  $button-font-size: $font-size;
  $button-padding: $button-font-size * (1/2);

  font-size: $button-font-size;
  padding: $button-padding $button-padding * 2;
}

.btn {
  @include button-size($font-size, 1);
  color: $font-color;
  cursor: pointer;
  background-color: $background-color;
  font-weight: $font-weight-bold;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  /* TODO: figure out another way to transition this doesnt work cause it fade in on page load*/
  /*transition: background-color 0.25s ease-in-out;*/

  &:hover {
    background-color: darker($background-color);
    border: 1px solid darker($background-color);
  }
  &:active {
    background-color: darkest($background-color);
    border: 1px solid darkest($background-color);
  }

  &.inactive {
    color: $border-color;
    cursor: not-allowed;
    &:hover {
      background-color: $background-color;
    }
  }

  &.primary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
      background-color: darker($primary);
      border: 1px solid darker($primary);
    }
    &:active {
      background-color: darkest($primary);
      border: 1px solid darkest($primary);
    }
  }
  &.secondary {
    color: $white;
    background-color: $secondary;
    border: 1px solid $secondary;
    &:hover {
      background-color: darker($secondary);
      border: 1px solid darker($secondary);
    }
    &:active {
      background-color: darkest($secondary);
      border: 1px solid darkest($secondary);
    }
  }
}
