.bulleted-list {
  list-style: disc outside none;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ordered-list {
  list-style: decimal outside none;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}