//to enforce consistency between .dh2o-dropdown-menu and the Select2 overrides,
//we put the actual styles in these placeholder classes and then @extend them
//into each control

%dropdown-menu-container {
  border: 1px solid $border-color;
  overflow-x: hidden;
  overflow-y: auto;
}

%dropdown-menu-item {
  padding: $spacing-quarter $spacing-half;
  text-align: left;
  cursor: pointer;
  color: $font-color;
}

%dropdown-menu-item-hover {
  background-color: $primary-color;
  color: $white;
}

%dropdown-menu-item-selected {
  background-color: $primary-color;
  color: $white;
  font-weight: $font-weight-bold;
}

%dropdown-menu-item-disabled {
  color: $border-color;
  cursor: not-allowed;

  &:hover {
    background-color: inherit;
  }
}

.dh2o-dropdown-menu {
  @extend %dropdown-menu-container;

  li {
    @extend %dropdown-menu-item;

    &:hover { @extend %dropdown-menu-item-hover; }
    &[aria-selected="true"] { @extend %dropdown-menu-item-selected; }
    &[aria-disabled="true"] { @extend %dropdown-menu-item-disabled; }
  }
}
