.menu {
  border: 1px solid $border-color;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    padding: $spacing-quarter $spacing-half;
    text-align: left;
    cursor: pointer;
    color: $font-color;

    &:hover, &[aria-selected="true"] {
      background-color: $primary-color;
      color: $white;
      font-weight: $font-weight-bold;
    }
    &[aria-disabled="true"] {
      color: $border-color;
      cursor: not-allowed;

      &:hover {
        background-color: inherit;
        font-weight: normal;
      }
    }
  }
}
