$spacing-half: $spacing/2;
$spacing-quarter: $spacing/4;

$fa-font-path: "http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts" !default; // for referencing Bootstrap CDN font files directly
@import "~font-awesome/scss/font-awesome";

@import 'images/variables';

@import "misc/reset";
@import "layout/flexboxgrid";

// Variables
@import "misc/colors";

// Misc
@import "misc/misc";

// Fonts
@import "misc/fonts";

// Images
@import "images/dh2o-icon-font";

// Animations
@import "misc/animations";

// Inputs
@import "elements/inputs";

// Messages
@import "elements/messages";

// Lists
@import "elements/lists";

// Buttons
@import "elements/buttons";

// Layouts
@import "layout/variables";
@import "layout/app";
@import "layout/section";
@import "layout/nav";
