$dh2o-images-path: '../images/' !default;

$font-icons: (
  rig: "\e600",
  well: "\e601",
  pipe: "\e602",
  operator: "\e603",
  user: "\e604",
  groupby: "\e605",
  menuexpand: "\e606",
  menucollapse: "\e607",
  accordianexpand: "\e608",
  accordiancollapse: "\e609",
  layers: "\e610",
  ruler: "\e611",
  analytics: "\e612",
  report: "\e613",
  map: "\e614",
  search: "\e615",
  dashboard: "\e616",
  microtrend: "\e617",
  co2: "\e618",
  brandicon: "\e619",
  fire: "\e620",
  waterdrop: "\e621",
  marker: "\e622",
  gascan: "\e623",
  barrel: "\e624",
  truck: "\e625",
  arrowupcircle: "\e626",
  arrowdowncircle: "\e627",
  arrowrightcircle: "\e628",
  arrowleftcircle: "\e629",
  questioncircle: "\e630",
  infocircle: "\e631",
  test: "\e632"
);
